{% extends "base.html" %} 

{% block title %}Home{% endblock %} 
{% block content %}
    <h1 align="center">Words</h1>

    <ul class="list-group list-group-flush" id="words"> <!-- ul == "unordered list" -->
    {% for word in user.words %}
        <li class="list-group-item">
            {{ word.data }}

            <!-- Button to delete the word -->
            <button type="button" class="close" onClick="deleteWord({{ word.id }})">
            <span aria-hidden="true">&times;</span>
            </button>

        </li> <!-- li == list item (so that it looks nicer) -->
    {% endfor %}
    </ul>
    
    <!-- See if great -->
    <form method="POST">
    <textarea name="word" id="word" class="form-control"></textarea>

    <br />
    <div align="center">
        <button type="submit" class="btn btn-primary">Add Word</button>
    </div>
    </form>
{% endblock %}